@charset "utf-8";
/* CSS Document */

@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css");

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:top;-webkit-text-size-adjust:100%;}
table, caption, tbody, tfoot, thead, tr, th, td {vertical-align:middle;}
body{background:#fff;*word-break:break-all;-ms-word-break:break-all;}
body{font-family:'Nanum Gothic','Malgun Gothic','맑은 고딕','Dotum','돋움',sans-serif;color:#222;letter-spacing:-0.5px;font-smoothing:antialiased;-webkit-font-smoothing:antialiased;}
body, input, textarea, select, button, table {font-size:12px;line-height:20px;color:#222;}
img, fieldset {border:0;vertical-align:middle;}
ul, ol, li {list-style:none;}
em, address {font-style:normal;}
a{color:#222;text-decoration:none;}
a:hover, a:active, a:focus {color:#222;text-decoration:none}
button {cursor:pointer;}
.blind {overflow:hidden;visibility:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;}
table {width:100%;border-collapse:collapse;border-spacing:0;}
hr {display:none;}
header, hgroup, footer, section, article, nav, canvas, figure, figcaption {display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none;}
.align_c {overflow:hidden;width:100%;display:inline-block;text-align:center;}
::-webkit-input-placeholder {color:#fff;/*크롬 4–56*/}
.clearfix:after {display:block;clear:both;content:'';}
.blind {display:none;}