<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="viewport" content="width=device-width, user-scalable=0" />
    <meta name="language" content="ko" />
    <meta property="og:locale" content="ko" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rebitai.com/" />
    <meta property="og:title" content="박나영 포트폴리오 - 끊임없는 도전, 계속된 시도." />
    <meta property="og:description" content="정체되는 것을 싫어하는 박나영의 포트폴리오입니다. 프로필 소개와 스킬 등을 알 수 있고, 포트폴리오용 웹사이트를 방문할 수 있습니다." />
    <meta property="og:image" content="../images/img_sharethumb.jpg" />
    <title>박나영 포트폴리오</title>
	<link rel="Shortcut Icon" type="image/x-icon" href="../images/favicon.ico" />
    <link rel="canonical" href="https://rebitai.com/" />
    <link rel="stylesheet" href="../common/css/style.css" type="text/css" />
</head>
<body>
    <!-- JavaScript -->
    <script src="../common/js/jquery-1.11.1.min.js"></script>
    <script src="../common/js/jquery.easing.min.js"></script>
    <script src="../common/js/common.js"></script>
</body>
</html>